<!DOCTYPE html>
<html lang="en">

<head>
  {{> headAttributes}}
  <link href="/css/home.css" rel="stylesheet">

</head>

<body class="c-app c-dark-theme">

  {{> navSidebar}}

  <div class="c-wrapper">

    {{> header}}

    <div class="c-body p-2">
        <h2>CUERPO</h2>
      </div>
      
      <footer class="c-footer">
        {{!-- footer aqui --}}
        <p class="text-center">Footer derechos</p>
      </footer>

    </div>

    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>

</body>

</html>