<!DOCTYPE html>
<html lang="en">

<head>
  {{> headAttributes}}
  <link href="/css/home.css" rel="stylesheet">

</head>

<body class="c-app">

  {{> navSidebar}}

  <div class="c-wrapper">

    {{> header}}

    <div class="c-body p-2">

      <div id="MovieGrid">
        {{#each movies}}
        <div class="card">
          <img class="card-img-top p-3"
            src="{{#if this.poster_path}}https://image.tmdb.org/t/p/w500{{this.poster_path}}
            {{else}}https://english2mee.files.wordpress.com/2018/07/proximamente.png?w=700{{/if}}" alt="MoviePoster">
          <div class="card-body text-center pt-0">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text"></p>
            <a class="DetailMovie detail" name="" style="cursor: pointer;">Details</a>
          </div>
        </div>
        {{/each}}
      </div>


      <footer class="c-footer">
        {{!-- footer aqui --}}
        FOOTER
      </footer>

    </div>

    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>

</body>

</html>