
@media only screen and (max-width: 5000px)  {
    #gridDetailMovie{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #infoMovie{
        display:grid;
        grid-template-columns: 1fr 3fr;
        align-content: start;
        grid-gap: 60px;
        margin-top: 20px;
    }
    #divComment{
        width: 100%;
        grid-row: 1 / 999;
        height: 278px;
    }
    #gridComments{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
    }
}
@media only screen and (max-width: 900px)  {
    #gridDetailMovie{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }
    #infoMovie{
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        margin:0px;
    }
    #divComment{
        width: 100%;
        grid-row: 1 / 1;
    }
    #gridComments{
        display: grid;
        grid-template-columns: 1fr;
    }
}
#iconFav{
    cursor: pointer;
}
#iconView{
    cursor: pointer;
}
#heartFav{
    width: 40px;
    height: 40px;
}
#iconEye{
    width: 40px;
    height: 40px;
}
#gridDetailSettings{
    width: 100%;
    padding: 20px;
    padding-top: 32px;
    padding-bottom: 0px;
    border-top: #e1e1e1;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 120px 120px;
    
}
#MoviePoster{
    width: auto;
    box-shadow: 0px -1px 19px 14px rgba(0,0,0,0.61);
    height: 600px;
}
.card{
    margin-bottom: 0px;
}

#comentarios .card-title{
    text-decoration: underline #636f83;
}
#comentarios .card-title:first-letter{
	font-size:2em;
	font-family:serif;
}