@media only screen and (max-width: 2222222px)  {
    #MovieGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1650px)  {
    #MovieGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* @media only screen and (max-width: 1400px)  {
    #MovieGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
} */


@media only screen and (max-width: 1100px)  {
    #MovieGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
   #imgApi{
        width:501px;
        height:198px; 
    }
}

@media only screen and (max-width: 580px)  {
    #MovieGrid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .imgLogo{
        visibility: hidden;
    }
   #imgApi{
        width:401px;
        height:148px; 
    }
}
body{
    min-width:550px;
}

.card-img-top{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
#header-tooltip{
    border: none;
    background: transparent;
    outline:none;

}
#MovieGrid{
  grid-gap: 10px;
  justify-content: center;
}
.card{
    height: 500px;
    padding: 10px;
}
.detail{
    background-color: #ffc312;
}
.imgLogo{
    width: 60px;
    height: 50px;
}
.card-img-top{
    height: 80%;
}
.c-header{
    border:none;
}
.card-header{
    border:none;
    padding:0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lightMode{
    background-color: red;
}

.num{
    color: #d40242;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.1em;
    opacity: 0.7;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-align: right;
}